{{ define "main" }}

<section class="pt-50">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <img class="img-fluid rounded-lg" src="{{.Params.image | absURL}}" alt="{{.Title}}">
      </div>
      <div class="col-lg-6 mt-4 mt-lg-0">
        <h2 class="font-secondary text-secondary">{{.Title}}</h2>
        <p class="my-3">{{.Params.description | markdownify}}</p>
        <a href="/pricing" class="btn btn-primary">View Plan</a>
      </div>
    </div>

    <div class="row no-gutters border-top mt-50">
      <div class="col-lg-6">
        <div class="pr-0 pr-lg-4 pt-35 border-0-md border-right">
          <h4 class="mb-3 font-weight-600 text-secondary">Program Details</h4>
          <div class="content">{{.Content}}</div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="pl-0 pt-35 pl-lg-4">
          <h4 class="mb-4 font-weight-600 text-secondary">Program Features</h4>
          <ul class="list-unstyled font-weight-500 text-black" style="columns:2">
            {{ range .Params.features }}
            <li class="mb-20 d-flex">
              <svg class="text-primary mr-10" width="25" height="25" viewBox="0 0 27 27" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <circle cx="13.5" cy="13.5" r="13.5" fill="currentColor" style="opacity:0.2" />
                <path d="M8 13.4286L12.3636 18L20 10" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
              </svg>
              {{ . | markdownify}}
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{{ with site.GetPage "program" }}
{{ with .Params.process }}
<section class="section-padding pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-10 text-center mb-20">
        <h2 class="section-title">{{.title | markdownify}}</h2>
        <p>{{.content | markdownify}}</p>
      </div>
    </div>
    <div class="row">
      {{ range $i, $e:= .step }}
      <div class="col-lg-3 col-md-4">
        <div class="shadow-lg rounded py-4 px-3 text-center mt-30">
          <div
            class="h3 bg-primary text-white mb-4 d-flex align-items-center justify-content-center rounded-circle mx-auto font-weight-bold"
            style="height:45px;width:45px">0{{add $i 1}}</div>
          <h5 class="mb-3 font-weight-bold">{{ .name | markdownify }}</h5>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- start of mentor-carousel -->
<section class="section-padding pb-0 team-carousel">
  <div class="container">
    {{ with site.GetPage "program"}}
    {{ with .Params.mentor }}
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-10 text-center mb-50">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
      </div>
    </div>
    {{ end }}
    {{ end }}
    <div class="row">
      <div class="col-12">
        <div class="team-carousel-wrap">
          {{ range .Params.mentors }}
          {{ with site.GetPage (. | urlize | lower) }}
          <div class="block">
            <div class="card border-0 text-center">
              <img class="card-img-top mx-auto" style="max-width:250px" src="{{.Params.image| absURL}}"
                alt="{{.Title}}">
              <div class="card-body">
                <h3 class="font-weight-600 mb-2"><a class="post-title" href="{{.Permalink}}">{{.Title}}</a></h3>
                <p class="mb-3">{{.Params.designation}}</p>
            <ul class="social-icon-link list-unstyled list-inline">
              {{ with .Params.social.facebook }}
              <li class="list-inline-item"><a href="{{. | safeURL}}"><i class="fab fa-facebook"></i></a></li>
              {{ end }}
              {{ with .Params.social.twitter }}
              <li class="list-inline-item"><a href="{{. | safeURL}}"><i class="fab fa-twitter"></i></a></li>
              {{ end }}
              {{ with .Params.social.linkedin }}
              <li class="list-inline-item"><a href="{{. | safeURL}}"><i class="fab fa-linkedin"></i></a></li>
              {{ end }}
            </ul>
              </div>
              <div class="card-footer bg-transparent border-0">
                <a href="{{.Permalink}}" class="btn btn-outline-primary">Hire A Mentor</a>
              </div>
            </div>
          </div>
          {{ end }}
          {{ end }}
        </div>
        <div class="slick-arrows">
          <div class="slick-prev team-slick-prev"><img src="{{`images/arrow-left.svg` | absURL}}"></div>
          <div class="slick-next team-slick-next"><img src="{{`images/arrow-right.svg` | absURL}}"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of mentor-carousel -->

<!-- start of image-compare-section -->
<section class="section-padding pb-0">
  <div class="container">
    {{ with site.GetPage "program"}}
    {{ with .Params.story }}
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-10 text-center mb-50">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
      </div>
    </div>
    {{ end }}
    {{ end }}
    <div class="row">
      {{ range where (where site.RegularPages "Section" "story") ".Params.program_code" "=" .Params.program }}
      <div class="col-lg-6">
        <div class="card rounded-lg shadow-lg mb-4">
          <div class="twentytwenty-image">
            <img class="w-100" src="{{ .Params.image_before | absURL }}" alt="before">
            <img class="w-100" src="{{ .Params.image_after | absURL }}" alt="after">
          </div>
          <div class="card-body pb-2">
            <h3><a href="{{.Permalink}}" class="font-secondary text-secondary">{{ .Title }}</a></h3>
            <ul class="mt-4 list-inline">
              <li class="list-inline-item mb-3 mr-4">
                <span class="text-primary mr-2"> <i class="far fa-user"></i> </span>
                Mentor's name :
                <a class="text-primary ml-2" href="{{ `mentor/` | relURL }}{{ .Params.mentor | urlize | lower }}">{{ .Params.mentor | humanize }}</a>
              </li>
              <div class="list-inline-item mb-3 mr-4">
                <span class="text-primary mr-2"> <i class="fas fa-history"></i> </span>
                Previous Weight :
                <span class="text-primary ml-2">{{ .Params.previous_weight }} KG</span>
              </div>
              <div class="list-inline-item mb-3 mr-4">
                <span class="text-primary mr-2"> <i class="fas fa-pizza-slice"></i> </span>
                Diet :
                <span class="text-primary ml-2">{{.Params.diet}}</span>
              </div>
              <div class="list-inline-item mb-3 mr-4">
                <span class="text-primary mr-2"> <i class="fas fa-diagnoses"></i> </span>
                {{if lt .Params.previous_weight .Params.current_weight}}
                Weight Gained :
                <span class="text-primary ml-2">{{sub .Params.current_weight .Params.previous_weight}} KG</span>
                {{ else }}
                Weight Losed :
                <span class="text-primary ml-2">{{sub .Params.previous_weight .Params.current_weight}} KG</span>
                {{ end }}
              </div>
              <div class="list-inline-item mb-3 mr-4">
                <span class="text-primary mr-2"> <i class="far fa-calendar-check"></i> </span>
                Time :
                <span class="text-primary ml-2">{{ .Params.time }}</span>
              </div>
            </ul>
          </div>
          <div class="px-4">
            <div class="card-footer bg-transparent px-0 py-4">
              <a href="{{.Permalink}}" class="btn btn-outline-primary">Read Full Story</a>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- end of image-compare-section -->

<!-- start of section -->
{{ if site.Data.home.call_to_action.enable }}
{{ partial "call-to-action.html" . }}
{{ end }}
<!-- end of section -->

{{ end }}