{{ with .Params.call_to_group }}
<section class="section-padding bg-light pt-80 pb-130 has-wave"
style="background-image:url('{{`images/wave.svg` | absURL }}')">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="media p-4 p-md-5 shadow-lg rounded bg-white align-items-center d-block d-md-flex">
          <img src="{{ .image | absURL }}" class="img-fluid mr-5" alt="Book">
          <div class="media-body mt-4 mt-md-0">
            <h2 class="font-secondary">{{.title | markdownify }}</h2>
            <p class="mt-3 mb-4">{{ .content | markdownify }}</p>
            <a href="{{.button | absURL}}" class="btn btn-primary">Join!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}