<!-- start of page-header -->
<section class="page-header bg-light pt-70 pb-130 has-wave" style="background-image:url('{{`images/wave.svg`| absURL}}')">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h2 class="section-title">{{.Title}}</h2>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb p-0 bg-transparent justify-content-center">
            <li class="breadcrumb-item"><a href="{{site.BaseURL}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{.Title}}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- end of page-header -->